In [40]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv('datatsets/dailyActivity_merged.csv', parse_dates=['ActivityDate'])

In [36]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Floors,CaloriesBMR,MarginalCalories,RestingHeartRate
0,10101,2022-10-05,4606,3.02,3.02,0.0,0.57,0.51,1.94,0.0,10,11,102,1317,1916,4,1504,273,78.0
1,10101,2022-10-06,2690,1.75,1.75,0.0,0.00,0.00,1.75,0.0,0,0,117,526,1880,4,1504,242,75.0
2,10101,2022-10-07,4143,2.72,2.72,0.0,0.00,0.00,2.71,0.0,0,0,260,1180,2286,2,1504,479,76.0
3,10101,2022-10-08,703,0.46,0.46,0.0,0.00,0.00,0.46,0.0,0,0,34,1406,1608,2,1504,71,NaN
4,10101,2022-10-09,0,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,1,1439,1509,0,1504,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3356,10804,2022-12-08,6727,4.47,4.47,0.0,0.00,0.00,4.46,0.0,0,0,335,671,1970,1,1283,390,54.0
3357,10804,2022-12-09,8083,5.39,5.39,0.0,0.50,0.39,4.48,0.0,10,13,326,613,2106,4,1283,507,53.0
3358,10804,2022-12-10,6294,4.26,4.26,0.0,0.00,0.00,4.25,0.0,0,0,367,662,2120,10,1283,497,55.0
3359,10804,2022-12-11,3686,2.47,2.47,0.0,0.53,0.23,1.71,0.0,27,21,174,555,1933,4,1283,434,55.0
3360,10804,2022-12-12,4645,3.17,3.17,0.0,0.00,0.00,3.16,0.0,0,0,243,271,1335,4,870,275,57.0

In [30]:
to_drop = ['LoggedActivitiesDistance']
df.drop(to_drop, inplace=True, axis=1)

In [44]:
df.groupby('Id').ActivityDate.min()

Id
10101   2022-10-05
10102   2022-10-05
10103   2022-10-05
10104   2022-10-05
10106   2022-10-05
10107   2022-10-05
10108   2022-10-05
10109   2022-10-05
10204   2022-10-05
10205   2022-10-05
10301   2022-10-05
10302   2022-10-05
10303   2022-10-05
10304   2022-10-05
10305   2022-10-05
10306   2022-10-05
10307   2022-10-05
10401   2022-10-12
10402   2022-10-12
10403   2022-10-12
10404   2022-10-12
10405   2022-10-12
10406   2022-10-12
10407   2022-10-12
10408   2022-10-12
10409   2022-10-12
10410   2022-10-12
10412   2022-10-12
10413   2022-10-12
10415   2022-10-26
10501   2022-10-13
10502   2022-10-13
10503   2022-10-13
10504   2022-10-13
10505   2022-10-13
10601   2022-10-17
10602   2022-10-17
10603   2022-10-17
10604   2022-10-17
10605   2022-10-17
10606   2022-10-17
10607   2022-10-17
10608   2022-10-17
10609   2022-10-17
10610   2022-10-17
10611   2022-10-17
10612   2022-10-17
10613   2022-11-03
10614   2022-10-17
10615   2022-10-19
10616   2022-10-19
10701   2022-10-19
10702   2022-10-19
10703   2022-10-19
10704   2022-10-28
10801   2022-11-01
10802   2022-11-01
10803   2022-10-20
10804   2022-11-01
Name: ActivityDate, dtype: datetime64[ns]

In [51]:
df1 = pd.DataFrame(index=pd.date_range('2022-10-05', periods=50)).assign(value=1)
df2 = pd.DataFrame(index=pd.date_range('2022-10-09', periods=50)).assign(value=1)
df3 = pd.concat([df1,df2], keys=['a','b'])
df3 = df3.rename_axis(['user','date']).reset_index()
df3.groupby('user').apply(lambda x : x.resample('7D', on='date').sum())

                 value
user date
a    2022-10-05      7
     2022-10-12      7
     2022-10-19      7
     2022-10-26      7
     2022-11-02      7
     2022-11-09      7
     2022-11-16      7
     2022-11-23      1
b    2022-10-09      7
     2022-10-16      7
     2022-10-23      7
     2022-10-30      7
     2022-11-06      7
     2022-11-13      7
     2022-11-20      7
     2022-11-27      1